.wrapper {
  height: 100vh;
  width: 100%;
  background: #F9F9FB;
}

.table {
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;


}

.testButton {
  padding: 10px;
  margin: 10px;
  background: aquamarine;
}

