@import "nullstyle";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400&display=swap');

body, html,#root {
  height: 100vh;
  overflow: hidden;
  background: white;
}

body {
  font-family: 'Ubuntu', sans-serif;
}
